$main-font: 'Lato', sans-serif;
$second-font: 'Acme', sans-serif;

$main-color: #8E44AD;
$imporent-color: #FFFF00;

$text-color: #212121;
$section-heading-size: 35px;
$section-heading-size-pc: 40px;

%sections-default-settings {
    width: 100%;
    min-height: 100vh;
    padding: 150px 0;
}

%link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #ffffff;
    text-decoration: none;
    color: $text-color;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    @include tablet() {
        width: 220px;
        height: 50px;
        font-size: 1.1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include large-desktop() {
        width: 1200px;
        padding: 0 25px;
        margin: 0 auto;
    }
}